<html>
     <head>
        <title> Stratify</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="icon" href="RT.png" type="image/icon type"> -->
        <link rel="stylesheet" type="text/css" href="../static/homepage.css" media="screen" />
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <script type="text/javascript" src='../static/homepage.js'> </script>
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    </head>
    <body>
        <script>
          loadData({{ data | tojson }})
        </script>
        <form autocomplete="off" action="/action_page.php">
            <div class="autocomplete" style="width:300px;">
              <input id="myInput" type="text" name="myCountry" placeholder="Ingredients" oninput="getMatches()">
            </div>
            <input type="submit">
          </form>
    </body>

</html>
